.ajout-projet{
    position: fixed;
    top: 10vh;
    right: 5vw;
   
}
.btn{
    a{
        color: inherit;
        text-decoration: none;
        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }
}